body {
    margin: 0;
    box-sizing: border-box;
    border: .3em solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 250px;
}

header {
    background-color: rgb(71, 71, 255);
    color: white;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: center;
    padding: 2em 0;
    /* border: .2em solid white; */
}

.title {
    /* font-family:'Lucida Sans Unicode', sans-serif; */
    /* font-weight: normal; */
    width: 50%;
    margin: 2em auto;
    /* text-align: center; */
    line-height: 1.2em;
    font-size: 2em;
}

header h1:hover {
    /* transform: rotate(-180deg); */
    transform: scale(-1, 1);
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {/* MAKE BUTTONS HOVER AND CLICK!! */
    background-color: rgb(36, 120, 216);
    color: rgba(255, 255, 255, 0.85);
    font-size: 2em;
    height: 7em;
    width: 7em;
    text-align: center;
}

/* Mobile */
@media (max-width:700px) {
    .title {
        width: 80%;
    }

    .boxes {
        flex-direction: column;
        align-items: center;
        height: 28em;
        justify-content: space-between;
        margin-bottom: 3em;
    }

    .box {
        height: 4em;
        /* width: 10em; */
        width: 80%;
    }
}